body {
    margin: 0px;
    padding: 0px;
    overflow: hidden !important;
    background: white;
}

.weapon-hud-container {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.weapon-hud-container span {
    font-family: 'VT323', monospace;
    font-size: 30px;
    color: white;
    color: white;
}

.health-hud-container {
    position: fixed;
    left: 10px;
    bottom: 10px;
}

.health-hud-container span {
    font-family: 'VT323', monospace;
    font-size: 30px;
    color: white;
}